<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/4a5b9b82-ae85-40c0-8e62-03c8da6d91e0/resourceGroups/LeadGenerationResource/providers/Microsoft.Web/sites/LeadGenReporting</ResourceId>
    <ResourceGroup>LeadGenerationResource</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://leadgenreporting.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <MSDeployServiceURL>leadgenreporting.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>LeadGenReporting</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>false</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>false</EnableMsDeployAppOffline>
    <UserName>$LeadGenReporting</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="LeadGenerationConnection" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="XpoProvider=MSSqlServer; Server=leadgeneration.database.windows.net; Database= LeadGeneration; Persist Security Info=False; User ID=ericyarbrough; Password= Ncc1701a; Encrypt=True;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\LeadGenerationConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="XpoProvider=MSSqlServer; Server=leadgeneration.database.windows.net; Database= LeadGeneration; Persist Security Info=False; User ID=ericyarbrough; Password= Ncc1701a; Encrypt=True;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="FELeadGenerationConnection" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="XpoProvider=MSSqlServer; Server=leadgeneration.database.windows.net; Database= FinalExpense; Persist Security Info=False; User ID=ericyarbrough; Password= Ncc1701a; Encrypt=True;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\FELeadGenerationConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="XpoProvider=MSSqlServer; Server=leadgeneration.database.windows.net; Database= FinalExpense; Persist Security Info=False; User ID=ericyarbrough; Password= Ncc1701a; Encrypt=True;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)FELeadGenerationConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)LeadGenerationConnection-Web.config Connection String" />
  </ItemGroup>
</Project>